@media (max-width: 830px){
    /*CABEÇALHO*/

    nav div.sideBar{
        padding-top: 30px;
        cursor: pointer;
        display: block;
        margin: 5%;
        z-index: 1;
    }

    .menu{
        font-size: 20px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        clip-path: circle(100px at 90% -16%);
        transition: 1s ease-out;
        
        background: rgb(107, 0, 0);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 4;
        pointer-events: none;
        z-index: 2;

    }

    nav.active .menu{
        clip-path: circle(1500px at 90% -16%);
        pointer-events: all;
    }

    nav.active .sideBar{
        position: fixed;
        top: 0.2%;
        right: 10%;
        overflow-y: hidden;
        z-index: 3;
    }

    /*CORPO HORARIOS*/

    section{
        width: 100%;
    }

    .barbeiroB{
        margin-top: 30px;
    }

    .agendamentos li{
        padding-bottom: 30px;
    }

    /*CORPO SOBRE NOS*/

    .img-barbearia{
        width: 390%;
        top: -70px;
        left: -170%;
        z-index: -2;
    }

    .redesSociais{
        flex-direction: column;
        width: 60%;
        margin-inline-start: 20.5%;
        margin-inline-end: 79.5%;
    }
}
